.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 50px;
}

.portfolio__title {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.portfolio__link-list {
  list-style: none;
  margin: 50px 0 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.portfolio__link-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.portfolio__link-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.portfolio__link {
  margin: 0;
  color: black;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.7;
  letter-spacing: -0.04em;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 1.2;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.5;
  }

  .portfolio {
    padding: 0 14px;
  }
}
