.header {
  max-width: 1280px;
  margin: 0 auto;
}

.header__container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 70px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__wrapper-nav_invisible {
  display: none;
}

.header__logo {
  margin: 18px 0;
}

@media screen and (max-width: 1280px) {
  .header__container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding: 0 30px;
  }

  @media screen and (max-width: 576px) {
    .header__container {
      padding: 0 14px;
    }

    .header__sign-text {
      font-size: 10px;
    }

    .header__sign-text_color_white {
      margin-right: 14px;
    }

    .header__btn-signin {
      width: 54px;
      height: 26px;
    }

    .header__burger-menu-wrap {
      width: 100%;
    }
  }
}
