.login {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0;
  margin: 0 auto;
}

.form__logo {
  transition: transform linear 0.4s;
}

.form__logo:hover {
  transform: scale(1.1);
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .login {
    padding: 55px 0 0;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
