.navtab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
}

.navtab__link {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #e8e8e8;
  padding-top: 10px;
  width: 96px;
  height: 26px;
  border-radius: 10px;
  transition: transform linear 0.5s;
}

.navtab__link:last-of-type {
  margin-right: 0;
}

.navtab__link:hover {
  transform: scale(1.1);
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .navtab {
    margin-bottom: 17px;
  }

  .navtab__link {
    width: 82px;
    height: 26px;
  }
}
